canvas {
    border: 1px solid #555;
    width: 600px;
    height: 400px;
    display: block;
    margin: 100px auto 0;
}

button {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background: #e4685d linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}
button:hover {
    background: #eb675e linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
}
button:active {
    position: relative;
    top: 1px;
}

#draw-card {
    display: block;
    margin: 20px auto 0;
}

