body {

}

#turn-order {
    text-align: center;
    margin-bottom: 2rem;
}

#main {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#alert {
    text-align: center;
    font-style: oblique;
    color: #f94144;
    font-size: 20px;
}

#alert-text {
    opacity: 1;
}

span {
    transition: all 300ms ease-in-out;
    opacity: 0;
    will-change: opacity;
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

#inactive {
    opacity: 0.4;
    pointer-events: none;
}
