canvas {
    border: 1px solid #555;
    width: 600px;
    height: 400px;
    display: block;
    margin: 100px auto 0;
}

#main {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

#draw-card {
    display: block;
    border: 1px solid black;
    border-radius: 20%;
    height: 50px;
    margin-left: 20px;
    color: white;
    background-color: red;
}

#draw-card:hover {
    background-color: #fe6161;
}

#bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

#bottom-left {
    display: flex;
    align-items: center;
    flex: 1;
}

#bottom-right {
    flex: 1;
}

#hand {
    display: flex;
    flex: 3;
    overflow-x: hidden;
    padding-right: 10px;
}

.game-card-container {
    flex: 1 0 0;
    overflow-x: hidden;
    position:relative;
    transition:transform .2s ease-out;
}

.game-card-container:last-child {
    overflow-x: visible;
}

.game-card-container:hover {
    transform: translate(5px, 0px);
    z-index: 5000;
    overflow-x: visible;
}