#logger {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(96, 125, 139);
    height: 420px;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
}

#log-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #1d75bc1f;
    color: black;
    border-bottom: 1px solid rgb(96, 125, 139);
}

#log-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    flex: 7;
    text-align: left;
    overflow-y: scroll;
}

#log-list li {
    display: block;
}

#log-send-container {
    border-top: 1px solid rgb(96, 125, 139);
    padding: 10px;
    z-index: 1;
}

#log-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#log-input {
    width: 75%;
    margin: 0 8px 0 0;
}

.btn-secondary {
    background-color: #1d75bc;
    border: none;
}

.btn-secondary:hover {
    background-color: #248ce1;
}