.game-card {
    height: 20rem;
    width: 13rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -2px 0px 1px -1px rgba(0, 0, 0, 0.15), -2px 1px 1px 0px rgba(0, 0, 0, 0.14), -2px 1px 3px 0px rgba(0,0,0,.12);
}

.game-card-container {
    position: relative;
    transition: 0.2s ease-out;
    display: flex;
    border-radius: 16px;
    box-shadow: -1px 0 4px #e6e2e2;
    cursor: pointer;
}

.game-card-container:not(:first-child) {
    margin-left: -100px;
}

.game-card-container:hover {
    transform: translateY(-50px);
}

.game-card-container:hover ~ .game-card-container {
    transform: translateX(100px);
}

img {
    max-height: 100%;
    max-width: 100%;
}

.btn {
    padding: 6px 16px;
}