ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

li:last-child {
    margin-right: 0;
}

#hand {
    display: flex;
    justify-content: center;
}
