#play-area {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}

#play-pile {
    border: 2px solid #F3F3F3;
    width: 10rem;
    height: 15rem;
    display: flex;
    align-items: center;
    position: relative;
}

#last-card {
    cursor: initial;
}