p {
    margin: 0;
    padding: 5px 0 5px 0;
}

.sidebar {
    flex: 1;
    align-self: flex-start;
}

.sidecard {
    border-radius: 0 10px 10px 0;
    margin-bottom: 8px;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-group-item.active {
    background-color: rgb(127, 142, 163) !important;
    border-color: rgb(127, 142, 163) !important;
}

.dead-player {
    background-color: #577590 !important;
    border-color: #577590 !important;
    text-decoration: line-through;
}

.dead-icon {
    width: 20%;

}